<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ES-Test01</title>
</head>
<body>
    <h1 style="color: red;">Welcome: Main page / (Test01) Learning Django</h1>
    <hr>
    <h3>Inheritance (BLOCKs)</h1>
    <h4>This will be inherited: because this LABEL is BEFORE of a BLOCK.</h2>
    <hr>
    {% block bkNotInherited %}
        <h4>This will NOT BE INHERITED: because this LABEL is within of a BLOCK. 
            <span style="font-size: small;">The block start is before of this label.</span>
        </h4>
    {% endblock %} 
</body>
</html>