<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ES-Test01</title>
</head>
<body>
    <h1 style="color: red;">"Main" page (Test01)</h1>
    <h2>Learning Django</h2>
    <h3>ES-Test01</h3>
    <h4>Hello Shaman Dad</h4>
    <hr>
    <h1>Inheritance (BLOCKs)</h1>
    <h2>This will be inherited: because this LABEL is BEFORE of a BLOCK.</h2>
    <hr>
    {% block bkNotInherited %}
        <h2>This will NOT BE INHERITED: because this LABEL is within of a BLOCK. 
            <span style="font-size: small;">The block start is before of this label.</span>
        </h2>
    {% endblock %} 
</body>
</html>