<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>"For Loop" page (Test01)</title>
</head>

<body>
   {% extends 'index.html' %}
   {% load static %}
   {% block bkNotInherited %}
   <h2>"Loop page: For" / Using LOOPS / (Test01) Learning Django</h1>
   <hr>
   <img src="{% static 'img/logo.png' %}" height="100px" width="100px" />
   <ul>
      {% for anItem in ltSteps %}
      <li>{{ anItem }}</li>
      {% endfor %}
   </ul>
   {% endblock %}
</body>

</html>