<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>"For Loop" page (Test01)</title>
</head>

<body>
   {% extends 'index.html' %}
   {% block bkNotInherited %}

   <h1>I'm here.............................</h1>

   <h1>"Loop page: For" page (Test01)</h1>
   <h2>Using TEMPLATES</h2>
   <h3>ES-Test01</h3>

   <hr>
   <ul>
      {% for anItem in ltSteps %}
      <li>{{ anItem }}</li>
      {% endfor %}
   </ul>
   {% endblock %}
</body>

</html>