<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Variable (Test01)</title>
</head>
<body>
   <h1>"Variable" page (Test01)</h1>
   <h2>Using TEMPLATES</h2>
   <h3>ES-Test01</h3>
   <h2 style="color: red; font-style:italic; font-weight: bold;">USING VARIABLES FROM RENDER</h2>
   <hr>
   <h1>Hello, <span style="color: rgb(0, 128, 0); font-size: larger;">{{sName}}</span></h1>
   <p style="font-size:larger;">Here I implemented <span style="font-weight: bold;">django-livereload-server</span> (livereload app) to refresh automatically the changes in the IU. 
      <span style="font-weight: bold;">Details in: </span><a target="_blank" href="https://github.com/tjwalch/django-livereload-server">github.com/tjwalch/django-livereload-server</a>.
   </p>
</body>
</html>